{% extends "main.html" %}

{% block contents %}

<script>
    $(document).ready(get_comment_list)

    function addComment() {
        $.ajax({
            url: "{{url_for('board.comment_write')}}",
            type: "POST",
            data: 

        })
    }

    function get_comment_list() {
        $.ajax({
            url: "{{url_for('board.comment_list', root_idx=result.id)}}",
            type: "GET",
            cache: false,
            dataType: "json",
            success: function(data) {
                c = data.lists;
                html = "";
                if (c.length > 0) {
                    for(var i = 0; i < c.length; i++) {
                            html += "<div>";
                            html += "<table class = 'table'>";
                            html +=  "<tr>";
                            html += "<td width='100'><h6>" + c[i].name + "</h6></td>";
                            html += "<td>" + c[i].comment + "</td>";
                            html += "<td class='text-right' width='200'>" + c[i].pubdate + "</td>";
                            html += "</tr>";
                            html += "</table>";
                            html += "</div>";
                    }
                }
                $("#commentList").html(html);
            },
            error: function(request, status, error) {
                var msg = "Error : " + request.status + "<br>";
                msg += "내용: " + request.responseText + "<br>" + error;
                console.log(msg);
            }
        })
    }
</script>

<table class="table table-bordered">
    <tbody>
        <tr>
            <td colspan="3">{{result.title}}</td>
        </tr>
        <tr>
            <td>{{result.name}}</td>
            <td class="text-right">{{result.pubdate|formatdatetime}}</td>
            <td>{{result.view}}</td>
        </tr>
        {% if result.attachfile %}
            <tr>
                <td>첨부파일</td>
                <td><a href="{{url_for('board.board_files', filename=result.attachfile)}}">{{result.attachfile}}</a></td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="3"><div style="min-height:200px;">{% autoescape false %}{{result.contents}}{% endautoescape%}</div></td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary m-lg-2" href="{{url_for('board.lists', page=page, search=search, keyword=keyword)}}">리스트</a>
{% if session["id"] == result.writer_id %}
    <a class="btn btn-danger" href="{{url_for('board.board_delete', idx=result.id)}}">글삭제</a>
    <a class="btn btn-warning" href="{{url_for('board.board_edit', idx=result.id)}}">글수정</a>
{% endif %}
<br>
<br>
<form id="commentForm" name="commentForm" action="{{url_for('board.comment_write')}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <input type="hidden" name="root_idx" value="{{result.id}}">
    <div>
        <span><strong>댓글</strong></span> <span id="cCnt"></span>
        <table class="table">
            <tr>
                <td><textarea rows="3" cols="130" id="comment" name="comment" placeholder="댓글을 입력하세요."></textarea> </td>
                <td><input type="submit" class="btn btn-success" style="height:80px;" value="등록하기"></td>
            </tr>
        </table>
    </div>
</form>

<div id="commentList"></div>
{% endblock %}