<?xml version="1.0" ecoding="utf-8"?>

<configuration>

<system.webServer>

    <handlers>

        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\git_sample\other_coding\Flask_web\venv\Scripts\python.exe|C:\git_sample\other_coding\Flask_web\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />

    </handlers>

</system.webServer>

<appSettings>

    <add key="WSGI_HANDLER" value="run1.app" />

    <add key="PYTHONPATH" value="C:\git_sample\other_coding\Flask_web" />

</appSettings>

</configuration>